// body,
// html{
//     cursor: none;
// }

body{
    overflow-x: hidden;
}

@keyframes vm-cursor{
    0%{
        transform: translate(-50%, -100%);
    }
    25%{
        transform: translate(-55%, -85%);
    }
    50%{
        transform: translate(-50%, -100%);
    }
    75%{
        transform: translate(-45%, -115%);
    }
    100%{
        transform: transflate(-50%, -100%);
    }
}

.vm-cursor{
    position: absolute;
    z-index: 9999;
    pointer-events: none;
    transition: 175ms linear 0s;

    @media screen and (max-width: 768px){
        display: none !important;
    }
    
    > div{
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        backdrop-filter: blur(5px);
        pointer-events: none;
        position: absolute;
        transform: translate(-15%, -45%);
        transform: translate(-50%, -100%);
        background: rgba(51, 51, 51, 0.10);
        animation: vm-cursor 7.5s linear infinite;
        
    }


}

/* Customize Header */
#main-header .site-container .site-main-header-inner-wrap{
    position: relative;
}
#main-header .site-container .site-main-header-inner-wrap:before{
    content: '';
    position: absolute;
    display: block;
    width: calc(100% + 5rem);
    height: calc(100% + 2.5rem);
    backdrop-filter: blur(30px);
    z-index: -1;
    padding: 0 2.5rem;
    left: -2.5rem;
    top: -1.25rem;
    border-radius: 0.9375rem;
}


/* 
* Custom Button Styles
*/

$jetBrains: 'JetBrains Mono', monospace;
$dmSans: "DM Sans", sans-serif;

.header-button-inner-wrap{

    position: relative;

    &:before{
        content: "\e901";
        font-size: 1rem;
        color: #FFBA7B;
        font-family: 'icomoon' !important;
        position: absolute;
        top: 50%;
        transform:translateY(-50%);
        left: 0;
        transition: all 0.25s ease-out;
    }

    & > .button.header-button{
        font-size: 1.125rem;
        color: #FFBA7B;
        background: linear-gradient(90deg, #FFBA7B 0%, #DC8044 100%);
        background-clip: border-box;
        background-clip: border-box;
        background-clip: text !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important; 
        display: inline-block;
        padding-left: 2.75rem !important; 
        padding-right: 0;
        transition: all 0.25s ease-out;
    }

    &:hover{

        & > .button.header-button{
            padding-left: 0 !important; 
            padding-right: 2.75rem  !important; 
            background: linear-gradient(90deg, #FFBA7B 0%, #DC8044 100%);
            background-clip: border-box;
            background-clip: border-box;
            background-clip: text !important;
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent !important; 
        }
        
        &:before{
            left: calc(100% - 2rem);
            color: #DC8044;
        }
    }
}

.wp-block-buttons{
   & > .wp-block-button{
        &.is-style{
            &-primary-button{

                position: relative;
                border-top: 2px solid #DC8044;
                

                &:before{
                    content: "\e901";
                    font-size: 1rem;
                    color: #FFBA7B;
                    font-family: 'icomoon' !important;
                    position: absolute;
                    top: 50%;
                    transform:translateY(-50%);
                    left: 0;
                    transition: all 0.25s ease-out;
                }

                & > .wp-block-button__link{
                    font-size: 1.125rem;
                    color: #FFBA7B;
                    background: linear-gradient(90deg, #FFBA7B 0%, #DC8044 100%);
                    background-clip: border-box;
                    background-clip: border-box;
                    background-clip: text !important;
                    -webkit-background-clip: text !important;
                    -webkit-text-fill-color: transparent !important; 
                    display: inline-block;
                    padding-left: 2.75rem;
                    padding-right: 0;
                    transition: all 0.25s ease-out;
                }

                &:hover{

                    & > .wp-block-button__link{
                        padding-left: 0;
                        padding-right: 2.75rem;
                        background: linear-gradient(90deg, #FFBA7B 0%, #DC8044 100%);
                        background-clip: border-box;
                        background-clip: border-box;
                        background-clip: text !important;
                        -webkit-background-clip: text !important;
                        -webkit-text-fill-color: transparent !important; 
                    }
                    
                    &:before{
                        left: calc(100% - 2rem);
                        color: #DC8044;
                    }
                }
            }

            &-secondary-button{
                position: relative;
                border-top: 2px solid #DC8044;

                &:before{
                    content: "\e901";
                    font-size: 1rem;
                    color: #DC8044;
                    font-family: 'icomoon' !important;
                    position: absolute;
                    top: 50%;
                    transform:translateY(-50%);
                    left: 0;
                    transition: all 0.25s ease-out;
                }

                & > .wp-block-button__link{
                    font-size: 1.125rem;
                    display: inline-block;
                    padding-left: 2.75rem;
                    padding-right: 0;
                    transition: all 0.25s ease-out;
                }

                &:hover{

                    & > .wp-block-button__link{
                        padding-left: 0;
                        padding-right: 2.75rem;
                    }
                    
                    &:before{
                        left: calc( 100% - 1.55rem) ;
                    }
                }
            }
        }

        & + .wp-block-button{
            &.is-style{
                &-primary-button,
                &-secondary-button{
                    margin-left: 5rem;
                }
            }
            
        }
    }
}

/* 
* Custom Heading Styles
*/

.wp-block-heading{
    &.is-style{
        &-eyebrow-rainbow{
            font-family: 'JetBrains Mono', monospace;
            text-transform: uppercase;
            font-size: 1.3125rem;
            font-style: normal;
            font-weight: 300;
            position: relative;
            display: block;
            max-width: max-content !important;

            background: linear-gradient(90deg, #80C6C6 0%, #0097A7 50.5%, #006778 100%);
            background-clip: border-box;
            background-clip: border-box;
            background-clip: text !important;
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent !important;

            margin-left: 0;
                margin-right: auto;

            &.has-text-align-center{
                margin-left: auto;
                margin-right: auto;
            }


            &.has-text-align-right{
                margin-left: auto;
                margin-right: 0;
            }

            &:after{
                content: '';
                display: block;
                width: 100%;
                height: 0.1875rem;
                background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="161" height="3" viewBox="0 0 161 3" fill="none"><g clip-path="url(%23clip0_2006_28)"><path d="M46.8515 2.99609L93.2183 2.99609L93.2183 -0.000156164L46.8515 -0.000160218L46.8515 2.99609Z" fill="%23008B9C"/><path d="M14.4906 2.99609L46.8516 2.99609L46.8516 -0.000156164L14.4906 -0.000158993L14.4906 2.99609Z" fill="%23FFB070"/><path d="M-0.000110626 2.99609L14.4902 2.99609L14.4902 -0.000156164L-0.000110364 -0.000157431L-0.000110626 2.99609Z" fill="%23D6753C"/><path d="M93.2181 2.99999L161 3L161 0.00374985L93.2181 0.00374392L93.2181 2.99999Z" fill="%23005C6D"/></g><defs><clipPath id="clip0_2006_28"><rect width="161" height="2.99999" fill="white" transform="translate(161 3) rotate(-180)"/></clipPath></defs></svg>');
                background-size: cover;
                position: absolute;
                bottom: -0.25rem;
                left: 0;

            }
        }

        &-eyebrow-monotone{
            font-family: 'JetBrains Mono', monospace;
            text-transform: uppercase;
            font-size: 1.3125rem;
            font-style: normal;
            font-weight: 300;
            position: relative;
            display: inline-block;


            &{
                --heading-color: currentColor;
            }


            &:after{
                content: '';
                display: block;
                width: 100%;
                height: 0.1875rem;
                background-size: 100%;
                position: absolute;
                bottom: -0.25rem;
                left: 0;
                background-color: inherit;
                background-color: var(--heading-color);
            }
        }

    }
}

p{
    &.is-style{
        &-category{
            font-family: 'JetBrains Mono', monospace;
            color: #DC8044;
            font-size: 1rem;
            font-weight: 400;
        }
    }
}



/*
 * Footer
 */



 footer{
    z-index: 1;
    position: relative;

    .widget.widget_nav_menu{
        & ul.menu{
            display: flex;
            gap: 2.5rem;
            position: relative;
            justify-content: start;
            max-width: max-content;

            &#menu-footer-social{
               margin-left: auto; 
            }

            &>*{
                //flex-grow: 1;
                min-width: max-content;
            }

            & a{
                font-family: $jetBrains;
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 300;
                text-transform: uppercase;
            }

            &:before{
                content: '';
                display: block;
                width: 100%;
                height: 2px;
                background: linear-gradient(90deg, #FFBA7B 0%, #DC8044 100%);
                position: absolute;


            }
            
        }
    }

    .widget_block.widget_text{
        &>*:not(a){
            color:#ECE8E2;
        }

        & a{
            background: linear-gradient(90deg, #FFBA7B 0%, #DC8044 100%);
            background-clip: border-box;
            background-clip: border-box;
            background-clip: text !important;
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent !important; 

            @media screen and (min-width: 768px){
                margin-left: 50px;
            }
        }
    }

    .widget_block.widget_media_image{
        padding-top: 5rem;
    }

 }


 .is-style-justify-center-xy{
    &.wp-container-core-group-is-layout-1{
        align-items: center;
        justify-items: center;
        row-gap: 5.25rem;
        gap: 5.25rem;
        display: grid;
    }

    @media screen and (max-width: 1024px){
        &.wp-container-core-group-is-layout-1{
            row-gap: 2.25rem;
            gap: 2.25rem;
            grid-template-columns: repeat(auto-fill, minmax(min(9rem, 100%), 1fr));
        }
        
    }

    @media screen and (max-width: 450px){
        &.wp-container-core-group-is-layout-1{
            row-gap: 1.5rem;
            gap: 1.5rem;
            grid-template-columns: repeat(auto-fill, minmax(min(5rem, 100%), 1fr));
        }
        
    }

 }



 /* Carousel */
 .kt-blocks-carousel{

    &.kt-carousel-container-dotstyle-none{
        padding-bottom: 4rem !important;
    }
    
    .kb-splide.kt-carousel-arrowstyle-outlinewhite .splide__arrow:before{
        color: #DC8044 !important;
    }

    .kb-splide .splide__arrow{
        border: unset;
        & svg{
            display: none;
        }

        left: unset;
        right: 0;
        top: calc(100% + 2.5rem);

        &--prev{
            right: 3rem;
        }

        &--prev:before{
            content: "\e900";
            font-family: 'icomoon' !important;
        }
        &--next:before{
            content: "\e901";
            font-family: 'icomoon' !important;
        }


    }

 }






 /* Forms 
 */

 .vm-form{

    &_wrapper{

        .gfield{
            position: relative;
    
            & label.gfield_label,
            & .gform-field-label--type-sub{
                width: 0px;
                height: 0px;
                overflow: hidden;
            
            }
    
            & legend,
            & .gfield_description{
                color: #006778;
                width: calc(50% - 0.5rem);
                font-family: $jetBrains;
                font-size: 1.125rem;
                font-style: normal;
                text-transform: uppercase;
                transition: all 0.5s ease;
                border-bottom: 2px solid #006778;
            }
    
    
            & .gfield_description{
                width: 100%;
                border-bottom: unset;
            }
    
            & .ginput_container{
    
    
                input:not([type="checkbox"]){
                    border: 0px solid transparent;
                    background-color: transparent;
                    border-bottom: 2px solid #006778;
                    border-radius: 0;
                    box-shadow: unset;
                    padding-left: 0;
    
                    &::placeholder{
                        color: #006778;
                        font-family: $jetBrains;
                        font-size: 1.125rem;
                        font-style: normal;
                        text-transform: uppercase;
                        transition: all 0.5s ease;
                    }
    
                    &:focus{
                        outline: none;
                        border-bottom: 2px solid #DC8044;
                        &::placeholder{
                            color: rgba(0, 0, 0, 0.0);
                        }
                    }
                }
    
                input[type="checkbox"]{
                    background-color: transparent;
                    border: 2px solid #006778;
                    box-shadow: unset;
    
                    &:focus{
                        outline: none;
                    }
    
                    &:checked{
                        background-color:  #006778;
                        &:before {
                            color:#fff !important;
                        }
                    }
    
                    & + label{
                        color: #006778;
                        font-family: $dmSans;
                        font-size: 1.3125rem;
                        font-style: normal;
                        line-height: 1;
                    }
                }
    
                .gfield_checkbox{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                }
            }
    
        }
    
        & .gform_required_legend{
            display: none;
        }
    
        & .gform_submit_button{

            
    
            margin-top: 2.5rem;
            // margin-bottom: -3.25rem;
            // padding-bottom: 3.25rem;
            margin-right: 0;
            font-family: $jetBrains;
            padding: 0.25rem 0 !important;
            min-height: unset !important;
            position: relative !important;
            
            border-top: 2px solid #DC8044 !important;
    
            display: inline-block !important;
            padding-left: 2.75rem !important;
            padding-right: 0 !important;
            transition: all 0.25s ease-out !important;
    
            //margin-top: 4.6rem;

            @media screen and (min-width: 768px){
                margin-right: 5rem !important;
            }
    
    
            &:before{
                content: "\e901";
                font-size: 1rem;
                color:#DC8044;
                font-family: 'icomoon' !important;
                position: absolute;
                top: 50%;
                transform:translateY(-50%);
                left: 0;
                transition: all 0.25s ease-out;
            }

            // &:after{
            //     content: '';
            //     position: absolute;
            //     display: block;
            //     width: 2rem;
            //     height: calc( 100% + 1rem );
            //     top: -6px;
            //     left: 0;
            //     transform: translateX( calc( -100% - 0.5rem ) );
            //     z-index: 99;
            //     background: #ECE8E2;
            // }
    
            & .gform_button{
                background-color: transparent !important;
                border-radius: 0 !important;
                font-size: 1.125rem !important;
                padding: 0 !important;
                box-shadow: none !important;
                color: #DC8044 !important;
                text-transform: uppercase !important;
            }
    
    
            &:hover{
    
                padding-left: 0 !important;
                padding-right: 2.75rem !important;
                
                &:before{
                    left: calc(100% - 2rem);
                    color: #DC8044;
                }
            }
    
    
    
    
        }
    
    }

    &--alt{
        &_wrapper{


            .gfield{
                position: relative;
        
                & .ginput_container{

                    &.gform-grid-row{
                        gap: 2rem;
                    }
        
        
                    input:not([type="checkbox"]){
                        border: 2px solid #006778;
                        background-color: #fff;
                        //border-bottom: 2px solid #006778;
                        border-radius: 0;
                        box-shadow: unset;
                        padding-left: 0.5rem;
        
                        &::placeholder{
                            color: #006778;
                            font-family: $jetBrains;
                            font-size: 1.125rem;
                            font-style: normal;
                            text-transform: uppercase;
                            transition: all 0.5s ease;
                        }
        
                        &:focus{
                            outline: none;
                            border: 2px solid #DC8044;
                            &::placeholder{
                                color: rgba(0, 0, 0, 0.0);
                            }
                        }
                    }
        

                }
        
            }


            & .gform_submit_button{
    
                margin-top: 2.5rem;
                position: relative;
                font-family: $jetBrains;
                padding: 0.25rem 0 !important;
                min-height: unset !important;
                position: relative !important;
                margin-right: 0rem;
                border: 2px solid #DC8044 !important;
        
                display: inline-block !important;
                padding-left: 3.75rem !important;
                padding-right: 1rem !important;
                transition: all 0.25s ease-out !important;
        
                @media screen and (min-width: 768px){
                    margin-right: 5rem !important;
                }
        
                
                &:before{
                    content: "\e901";
                    font-size: 1rem;
                    color:#DC8044;
                    font-family: 'icomoon' !important;
                    position: absolute;
                    top: 50%;
                    transform:translateY(-50%);
                    left: 1rem;
                    transition: all 0.25s ease-out;
                }

                & .gform_button{
                    background-color: transparent !important;
                    border-radius: 0 !important;
                    font-size: 1.125rem !important;
                    padding: 0 !important;
                    box-shadow: none !important;
                    color: #DC8044 !important;
                    text-transform: uppercase !important;
                }
        
        
                &:hover{
        
                    padding-left: 1rem !important;
                    padding-right: 3.75rem !important;
                    
                    &:before{
                        left: calc(100% - 2rem);
                        color: #DC8044;
                    }
                }
        
        
        
        
            }



        }
    }

 }


 /* Blog
 */
.wp-block-post-excerpt{
    .wp-block-post-excerpt__more-text{
        
        position: relative;
        border-top: 2px solid #DC8044;
        display: inline-block;

        &:before{
            content: "\e901";
            font-size: 1rem;
            color: #DC8044;
            font-family: 'icomoon' !important;
            position: absolute;
            top: 50%;
            transform:translateY(-50%);
            left: 0;
            transition: all 0.25s ease-out;
        }

        .wp-block-post-excerpt__more-link{
            font-family: $jetBrains;
            text-transform: uppercase;
            color: #0d5a67;
            font-size: 1.125rem;
            line-height: 1.6875rem;
            display: inline-block;
            padding-left: 2.75rem;
            padding-right: 0;
            padding-top: 0.4rem;
            transition: all 0.25s ease-out;
        }

        &:hover{

            & > .wp-block-post-excerpt__more-link{
                padding-left: 0;
                padding-right: 2.75rem;
            }
            
            &:before{
                left: calc( 100% - 1.55rem) ;
            }
        }
    }
}

body .wp-block-kadence-query-pagination{
    .pagination{

        & .nav-links{
            display: flex;
            gap: 5rem;

        }


        & .page-numbers{
            position: relative;
            border-top: 2px solid #DC8044 !important;
            border-radius: 0 !important;

            &:not(.next, .prev){
                display: none !important;
            }

            &.next{
                font-family: $jetBrains;
                text-transform: uppercase;
                color: #0d5a67;
                font-size: 1.125rem;
                line-height: 1.6875rem;
                display: inline-block;
                padding-left: 2.75rem;
                padding-right: 0;
                padding-top: 0.4rem;
                transition: all 0.25s ease-out;
                border-left: 0px solid transparent !important;
                border-right: 0px solid transparent !important;

                &:before{
                    content: "\e901";
                    font-size: 1rem;
                    color: #DC8044;
                    font-family: 'icomoon' !important;
                    position: absolute;
                    top: calc(50% + 0.2rem);
                    transform:translateY(-50%);
                    left: 0;
                    transition: all 0.25s ease-out;
                }

                &:hover{

                    padding-left: 0;
                    padding-right: 2.75rem;

                    
                    &:before{
                        left: calc( 100% - 1.55rem) ;
                    }
                }

            }

            &.prev{
                font-family: $jetBrains;
                text-transform: uppercase;
                color: #0d5a67;
                font-size: 1.125rem;
                line-height: 1.6875rem;
                display: inline-block;
                // padding-left: 2.75rem;
                // padding-right: 0;

                padding-left: 0;
                padding-right: 2.75rem;

                padding-top: 0.4rem;
                transition: all 0.25s ease-out;
                border-left: 0px solid transparent !important;
                border-right: 0px solid transparent !important;

                &:before{
                    content: "\e900";
                    font-size: 1rem;
                    color: #DC8044;
                    font-family: 'icomoon' !important;
                    position: absolute;
                    top: calc(50% + 0.2rem);
                    transform:translateY(-50%);
                    left: calc( 100% - 1.55rem) ;
                    transition: all 0.25s ease-out;
                }

                &:hover{

                    // padding-left: 0;
                    // padding-right: 2.75rem;

                    padding-left: 2.75rem;
                    padding-right: 0;

                    
                    &:before{
                        left: 0;
                        
                    }
                }

            }

        }   
    } 
}



.kt-inside-inner-col,
.kb-row-layout-wrap{
   
    & >*:not(.vm-bubble-cluster-container){
        position: relative;
        z-index: 1; 
    }

}


body.high-dpi{
    .vm-bubble{
        filter: blur( 720px ) !important;
    }
}




body.post-template-default.single-post{

    .wp-block-post-title{
        font-size: 2rem !important;
        letter-spacing: -0.12rem;

        @media screen and (min-width: 768px){
            font-size: 3.25rem !important;
            letter-spacing: -0.19rem !important;
        }

        @media screen and (min-width: 1024px){
            font-size: 4.5rem !important;
            letter-spacing: -0.22rem !important;
        }
    }

    h2.wp-block-heading:not(.is-style-eyebrow-rainbow){
        font-size: 2.625rem;
        letter-spacing: -0.13125rem;
        line-height: 1.5;
    }

    h3.wp-block-heading:not(.is-style-eyebrow-rainbow){
        color:#DC8044;
        font-family: $jetBrains;
        font-size: 1.3125rem;
        font-style: normal;
        font-weight: 3xf00;
    }

}

.work-nav-bg{
    z-index: 0 !important;
    opacity: 0;
    transition: opacity 0.66s ease-in-out;
    &.active{
        z-index: 99 !important;
        opacity: 1;
    }
}

// header img.custom-logo{
    
//         // filter: invert(100%);
//         // mix-blend-mode: difference;
//         mix-blend-mode: difference;


// }

// header svg {
//     mix-blend-mode: difference;
// }
  
// header  svg path {
//     fill: white;
// }


.single-content .is-style-justify-center-xy figure.wp-block-image:last-child{
    margin-bottom: inherit !important;
}














/* Case Study */





@property --wipe-position {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 100%;
}


    


// body.wp-admin{


//     .case-study-overlay{
//         position: relative !important;
//         opacity: 1;
//     }

    
//     .overlay--wrap {
//         opacity: 1;
//         --wipe-position: unset; // calc(-1 * var(--gradient-length));
//         --gradient-length: unset; //20%;
//         -webkit-mask-image: unset; //
    
//         transition: unset; //--wipe-position 1600ms cubic-bezier(0, 0.55, 0.45, 1);
//     }
    
//     .case-study-overlay.active .overlay--wrap {
//         opacity: 1;
//         --wipe-position: unset; //100%;
//     }

//     .case-study-hero.active{
//         opacity: 1;
//     }
// }
    

body:not(.wp-admin){

    .overlay--wrap{
        backdrop-filter:
        grayscale(100)
        contrast(25%)
        brightness(185%)
        sepia(16%);
    
        --wipe-position: calc(-1 * var(--gradient-length));
        --gradient-length: 70%;
        -webkit-mask-image: linear-gradient(
            to top,
            black var(--wipe-position),
            transparent calc(var(--wipe-position) + var(--gradient-length)),
            transparent
        );
    
        transition: --wipe-position 750ms cubic-bezier(0, 0.33, 0.66, 1);
    }
    
    .case-study-overlay.active .overlay--wrap {
        --wipe-position: 100%;
    }
    
    .case-study-overlay{
        position: absolute !important;
        top:0;
        left: 0;
        width: 100% !important;
        transition: height 0.25s ease-in-out;
        height: 100%;
        pointer-events: none;
        padding: 0 !important;
        margin: 0 !important;
        background: transparent;
        z-index: 99;
    }
    
        
    //show/hide content   
    .case-study-hero{
        padding: 0 !important;
        margin: 0 !important;
        & > *{
            opacity: 1;
            transition: opacity 1.25s ease 0.5s;
        }
    }
    
    .case-study-hero.active{
        & > *{
            transition: opacity 0.25s ease;
            opacity: 0;
        }
    }



    /* loco animations */

.loco-fade-in{
    opacity: 0;
    transition: opacity 3.5s ease;
}

.loco-fade-in.loco-active{
    opacity: 1;
}



.loco-fade-in-up{
    opacity: 0;
    transform: translateY(9rem);
    transition: opacity 1.5s ease, transform 1.5s ease-in-out;
}

.loco-fade-in-up.loco-active{
    opacity: 1;
    transform: translateY(0rem);
}





// bubble animations

/* Keyframes for the pulsing animation */
@keyframes subtle-pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  
  /* Apply the animation to all elements with the .vm-bubble class */
  .vm-bubble-cluster-wrapper .vm-bubble {
    animation: subtle-pulse 6s ease infinite;
    /* Makes the animation smoother */
    will-change: transform;
    /* Ensures the animation happens from the center of the element */
    transform-origin: center center;
  }
  
  /* Add some variation to make the animation more organic */
  .vm-bubble-cluster-wrapper .vm-bubble:nth-child(2n) {
    animation-delay: 0.5s;
  }
  
  .vm-bubble-cluster-wrapper .vm-bubble:nth-child(3n) {
    animation-delay: 1s;
  }
  
  .vm-bubble-cluster-wrapper .vm-bubble:nth-child(5n) {
    animation-delay: 1.5s;
  }
  
  /* Optional: add different timing for different bubbles to create a more organic feel */
  .vm-bubble-cluster-wrapper .vm-bubble:nth-child(3n+1) {
    animation-duration: 4.5s;
  }
  
  .vm-bubble-cluster-wrapper .vm-bubble:nth-child(2n+1) {
    animation-duration: 8s;
  }




}